<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gnerv.cloud.platform.mapper.RoleMapper">

    <!-- Role实体映射 -->
    <resultMap id="base_role" type="com.gnerv.cloud.platform.entity.Role">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="pId" column="p_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleNotes" column="role_notes"/>
        <result property="roleStatus" column="role_status"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <sql id="all_columns">
        id, role_id, p_id, role_name, role_notes, role_status, gmt_create, gmt_modified
    </sql>

    <insert id="insertRole">
        INSERT INTO platform_role (
            <if test="roleId != null">role_id,</if>
            <if test="pId != null">p_id,</if>
            <if test="roleName != null">role_name,</if>
            <if test="roleNotes != null">role_notes,</if>
            <if test="roleStatus != null">role_status</if>
        ) VALUES (
            <if test="roleId != null">#{roleId},</if>
            <if test="pId != null">#{pId},</if>
            <if test="roleName != null">#{roleName},</if>
            <if test="roleNotes != null">#{roleNotes},</if>
            <if test="roleStatus != null">#{roleStatus}</if>
        )
    </insert>

    <insert id="insertRoleMenu" parameterType="java.util.List">
        INSERT INTO platform_role_menu (
            role_id, menu_id
        ) VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>

    <delete id="deleteRoleByRoleId">
        DELETE FROM platform_role WHERE role_id = #{roleId}
    </delete>

    <update id="updateRoleByRoleId">
        UPDATE platform_role
        SET
            <if test="pId != null">p_id = #{pId},</if>
            <if test="roleName != null">role_name = #{roleName},</if>
            <if test="roleNotes != null">role_notes = #{roleNotes},</if>
            <if test="roleStatus != null">role_status = #{roleStatus}</if>
        WHERE role_id = #{roleId}
    </update>

    <select id="selectRoleByRoleId" resultMap="base_role">
        SELECT <include refid="all_columns"></include> FROM platform_role WHERE role_id = #{roleId}
    </select>

</mapper>
